<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="eMed BAT Suite" thread-count="1" parallel="classes">

	<test name="BAT Test" preserve-order="true">

		<method-selectors>
			<method-selector>
				<script language="beanshell">
					<![CDATA[
                    String testGroup = System.getenv("GTag");
                    groups.containsKey(testGroup);
                ]]>
				</script>
			</method-selector>
		</method-selectors>
		<classes>

			<class name="test.bat.SwagTest">
				<methods>
					<include name="a_swaglab" />
				</methods>
			</class>

		</classes>
	</test>

</suite>